<div class="container">
    <form action="/polls/add" method="post">
        <input type="text" name="title" placeholder="Enter poll title." id="title">
        <div class="options">
            <input type="text" name="option" placeholder="Option 1" required id="">
            <input type="text" name="option" placeholder="Option 2" required id="">
            <input type="text" name="option" placeholder="Option 3" required id="">
            <input type="text" name="option" placeholder="Option 4" required id="">
        </div>
        <button id="submit">Submit</button>
    </form>
</div>
