<div class="modal success-flash fail-flash" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header" style="background-color: <%= messages.error && '#EB455F' %>;">
          <h4 class="modal-title"><%= messages.success? 'Success': 'Error' %></h4>
          <button type="button" onclick="dismissModal()" class="close" style="background-color: <%= messages.error && '#EB455F' %>;" data-dismiss="modal"><i class='bx bx-tada bx-sm bx-x'></i></button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
          <%= messages.success? messages.success : messages.error %>
        </div>
        
      </div>
    </div>
  </div>

  <script>
    function dismissModal() {
        const errorElem = document.querySelector('.modal');
        errorElem.style.display = 'none';
    }
    const successMessage = document.querySelector(".success-flash");

if (successMessage) {
  setTimeout(() => {
    successMessage.style.display = "none";
  }, 5000);
}

const errorMessage = document.querySelector(".fail-flash");

if (errorMessage) {
  setTimeout(() => {
    errorMessage.style.display = "none";
  }, 5000 );
}

</script>
  