<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/images/knot.png" type="image/x-icon">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script type="module" src="/js/postHandler.js" defer></script>
    <script type="module" src="/js/deleteCommentHandler.js" defer></script>
    <script type="module" src="/js/pollsHandler.js" defer></script>
    <script type="module" src="/js/addPostHandler.js" defer></script>
    <script type="module" src="/js/profileNavigatiionHandler.js" defer></script>
    <script type="module" src="/js/editProfileHandler.js" defer></script>
    <link rel="preload" href="/fonts/Mukta-Bold.woff2" type="font/woff2" crossorigin as="font">
    <link rel="preload" href="/fonts/Mukta-Regular.woff2" type="font/woff2" crossorigin as="font">
    <link rel="preload" href="/fonts/Mukta-SemiBold.woff2" type="font/woff2" crossorigin as="font">
    <link rel="preload" href="/fonts/Mukta-Medium.woff2" type="font/woff2" crossorigin as="font">
    <link rel="preload" href="/fonts/Mukta-Light.woff2" type="font/woff2" crossorigin as="font">
    <link rel="preload" href="/fonts/Mukta-ExtraLight.woff2" type="font/woff2" crossorigin as="font">
    <link rel="preload" href="/fonts/Mukta-ExtraBold.woff2" type="font/woff2" crossorigin as="font">
    <link rel="stylesheet" href="/css/postcard.css">
    <link rel="stylesheet" href="/css/profile.css">
    <link rel="stylesheet" href="/css/follow.css">
    <link rel="stylesheet" href="/css/addPost.css">
    <link rel="stylesheet" href="/css/challenge.css">
    <link rel="stylesheet" href="/css/polls.css">
    <link rel="stylesheet" href="/css/modal.css">
    <link rel="stylesheet" href="/css/points.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="preload" href="/css/postcard.css" as="style">
    <link rel="preload" href="/css/profile.css" as="style">
    <link rel="preload" href="/css/follow.css" as="style">
    <link rel="preload" href="/css/addPost.css" as="style">
    <link rel="preload" href="/css/challenge.css" as="style">
    <link rel="preload" href="/css/polls.css" as="style">
    <link rel="preload" href="/css/modal.css" as="style">
    <link rel="preload" href="/css/points.css" as="style">
    <link rel="preload" href="/css/header.css" as="style">
    <title><%= pageTitle %></title>
</head>