<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="module" src="/js/postHandler.js" defer></script>
    <script type="module" src="/js/deleteCommentHandler.js" defer></script>
    <script type="module" src="/js/pollsHandler.js" defer></script>
    <script src="/js/addPostHandler.js" defer></script>
    <script type="module" src="/js/deletePostHandler.js" defer></script>
    <link rel="shortcut icon" href="/images/knot.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/postcard.css">
    <link rel="stylesheet" href="/css/profile.css">
    <link rel="stylesheet" href="/css/follow.css">
    <title><%= pageTitle %></title>