
<div class="posts">


<div class="post-container">
    <div class="post-creator">
        <img class="post-profile" src="<%= profilePic %>" alt="">
        <a href="">Ami create korlam</a>
        <div class="post-creator-name">
            <p>hii</p>
        </div>
    </div>
    <div class="post-content">
        <p>hii</p>
    </div>
</div>
</div>