<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/images/knot.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/404.css">
    <title>Page not found - Knot</title>
</head>
<body>
    <section class="page_404 main_image">
        <div class="four_zero_four ">
            <h1 >404</h1>
        </div>
       
        <div class="contant_box_404">
            <h4 >Looks like you're lost</h4>
            <p >The page you are looking for, we did <b>Knot</b> design that yet!</p>
            <a href="/" class="link_404">Go to Home</a>
        </div>
    </section>
</body>
</html>

