<div class="container">
    <form action="/polls/create" method="post">
        <input type="text" name="title" placeholder="Enter poll title." id="title">
        <div class="options">
            <input type="text" name="option" placeholder="Option 1" id="">
            <input type="text" name="option" placeholder="Option 2" id="">
            <input type="text" name="option" placeholder="Option 3" id="">
            <input type="text" name="option" placeholder="Option 4" id="">
        </div>
        <button id="submit">Submit</button>
    </form>
</div>