
<div class="container">
    <form action="/add/challenges" method="post">
        <input type="text" name="content" placeholder="Challenge Name.." id="title">
        <button id="submit">Submit</button>
    </form>
</div>