<%- include ('partials/header',{pageTitle: pageInfo.title}) %>
<%- include ('partials/nav',{profilePic: pageInfo.profilePic, pageName: pageInfo.pagename }) %>


<section class="post-section">

    <% posts.map(post =>{ %>
        <%- include ('partials/timeline',{post: post, userId: pageInfo.userId}) %>
        
    <% }) %>
</section>