<%- include ('partials/header', {pageTitle: pageTitle}) %>
    <link rel="stylesheet" href="/css/login.css">
</head>

<body>
    <div class="box">
        <div class="container">

            <div class="top">
                <img src="/images/knot.png" class="logo" alt="Logo">
                <header>Sign up to Knot</header>
            </div>
            <a href="auth/google">
            <div class="alternates">
                <button type="submit" id="google" class="submit hovereffect"><img id="google-logo" src="/images/google.png" alt=""> Sign up with
                    Google</button>
            </div>
        </a>
            <div class="insignin">
                <label>Already user?<a href="/login"> Sign in here</a></label>
                <label><a id="credentials" href="">Or, Sign up with Credentials.</a></label>

            </div>

            <div class="hiddenform hidden">
                <form action="/signup" method="post">
                <div class="input-field">
                    <input type="text" class="input" placeholder="First Name" name="firstname" id="" required>
                </div>
                <div class="input-field">
                    <input type="text" class="input" placeholder="Last Name" name="lastname" id="" required>
                </div>
                <div class="input-field">
                    <input type="text" class="input" placeholder="Username" name="username" id="" required>
                </div>
                <div class="input-field">
                    <input type="email" class="input" placeholder="Email Address" name="email" id="" required>
                </div>
                <div class="input-field">
                    <input type="Password" class="input" placeholder="Password" name="password" id="" required>
                </div>

                <div class="input-field">
                    <input type="submit" class="submit hovereffect" value="Sign Up" id="">
                </div>
            </form>
            </div>

        </div>
    </div>
</body>
<script src="/js/script.js"></script>

</html>