@import 'global.css';

a{
    text-decoration: none;
    color: var(--secondary-color);
}
.post-section,.poll-section{
    padding-top: 5rem;
}
.posts,.polls{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}
.post-container,.poll-container{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    background-color: var(--secondary-body-color);
    width: 35%;
    height: 100%;
    padding: 1.5rem 1.5rem 0.7rem 1.5rem;
    border-radius: 10px;
    gap: 1rem;
    color: var(--secondary-color);
    font-family: var(--regular);
}
.post-creator{
    display: flex;
    /* justify-content: flex-start; */
    align-items: center;
    gap: 1rem;
    width: 100%;
    
}
.delete-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: var(--primary-color);
    margin-left: auto;
}
.post-creator-name{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
}
.post-content,.poll-content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    padding: 0.6rem;
    background-color: var(--body-color);
    border-radius: 10px;
    width: 100%;
    gap: 0.8rem;
    font-size: large;
}

.post-image{
    width: 100%;
    max-width: 100%;
    border-radius: 10px;
    margin-inline: auto;
}
.post-creator-name small{
    color: var(--dark-color);
}
.interaction{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 100%;
}
.like, .comment, .share, .dislike{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    align-items: center;
    gap: 0.5rem;
    font-size: small;
}
.interaction-icons{
    font-size: 0.5rem;
}

.post-profile{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.interaction i,.interaction span{
    cursor: pointer;
    text-align: center;
}

/* Media queries */
@media screen and (max-width: 1120px) and (min-width: 768px){
    .post-section,.poll-section{
        padding-top: 5rem;
    }
    .like, .comment, .share{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
@media screen and (max-width: 767px){
    .post-section,.poll-section,.ownPosts{
        padding-bottom: 5rem;
    }
    .post-container,.poll-container{
        width: 100%;
        padding: 1rem;
    }
    .post-content{
        font-size: 0.95rem;
    }
    .interaction{
        max-width: 100%;
        overflow: hidden;
    }
    .like, .comment, .share, .dislike{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .post-section,.poll-section{
        padding-top: 0;
    }
    .posts,.polls{
        margin: 15px;
    }

}
@media screen and (min-width: 769px) and (max-width: 1400px)   {
    .post-container,.poll-container {
      width: 60%;
    }
  }


/* ADD POST CSS */

.submit-post{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    border-radius: 10px;
    width: 100%;
    max-width: 100%;
}
.submit-post input, .submit-post textarea{
    width: 100%;
    max-width: 100%;
    padding: 0.5rem;
    border-radius: 10px;
    border: none;
    outline: none;
    font-family: var(--regular);
    background-color: var(--body-color);
    color: var(--secondary-color);
}
#content{
    /* text-align: left; */
    font-size: small;
    resize: none;
}
#post-submit-btn{
    font-size: large;
    max-width: 30%;
    margin-bottom: 10px;
    padding: 0.5rem;
    border-radius: 10px;
    border: none;
    outline: none;
    font-family: var(--regular);
    background-color: var(--secondary-color);
    color: var(--body-color);
    cursor: pointer;
    transition: all 0.5s ease;
}
#post-submit-btn:hover{
    /* some cool hover effect */
    background-color: var(--primary-color);
    color: var(--body-color);
    transform: rotateZ(2deg);
}