@import "global.css";

.profileDetails {
  font-family: var(--light);
  font-size: clamp(1rem, 2vmin, 1.5rem);
  color: var(--secondary-color);
}
.profileCard {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  background-color: var(--secondary-body-color);
  height: 100%;
  width: 35%;
  gap: clamp(1rem, 7vmin, 4rem);
  border-radius: 0px 0px 10px 10px;
  padding: 6rem 1.5rem 0.7rem 1.5rem;
  margin-inline: auto;
}
.nameAndDp {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}
.follow{

  margin-right: auto;
}
.follow input{
  background-color: var(--secondary-body-color);
  color: var(--secondary-color);
  border: 2px solid var(--primary-color);
  width: 100px;
  height: 30px;
  border-radius: 5px;
  cursor: pointer;
}
.bioAndConnections {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: clamp(0.01rem, 5vmin, 0.4rem);
}

.followers,
.followings,
.points {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.connections {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: clamp(0.8rem, 2.5vmin, 2rem);
}
.bioAndUsername {
  margin-right: auto;
}
.profile-bio {
  font-family: var(--light);
  font-size: clamp(0.8rem, 2vmin, 1.5rem);
  color: var(--light-color);
  letter-spacing: 0.2px;
}
.profile-username {
  font-family: var(--light);
  font-size: clamp(0.6rem, 80vmin, 1.2rem);
  color: var(--light-color);
}

.profilePic {
  --size: 6rem;
  max-width: clamp(var(--size), 15vmin, 12rem);
  max-height: clamp(var(--size), 15vmin, 12rem);
  min-width: clamp(var(--size), 15vmin, 12rem);
  min-height: clamp(var(--size), 15vmin, 12rem);
  border-radius: 50%;
}
.bioAndConnections h3 {
  font-family: var(--extra-light);
  font-size: clamp(1rem, 2.2vmin, 2rem);
  color: var(--dark-color);
  letter-spacing: 1px;
}
.bioAndConnections p {
  font-family: var(--extra-light);
  font-size: clamp(0.8rem, 2vmin, 1.5rem);
  color: var(--light-color);
}
/* styling the profile navigation */
.profileNav-items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  background-color: var(--secondary-body-color);
  gap: clamp(4rem, 25vmin, 8rem);
  margin-top: 1rem;
  width: 35%;
  margin-inline: auto;
  padding: 0.8rem;
  border-radius: 10px;
}
.profileNav-items .navigation-active {
  position: relative;
  color: var(--primary-color);
}

.profileNav-items .navigation-active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: var(--primary-color);
  animation: border-animation 3s ease-in-out infinite;
}

@keyframes border-animation {
  0% {
    width: 2%;
  }
  50% {
    width: 100%;
  }
  100% {
    width: 2%;
  }
}





@media screen and (max-width: 1400px) {
  .profileCard {
    padding: 1.6rem 0.5rem 1rem 0.5rem;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .profileDetails {
    display: none;
  }
  .profileNav-items {
    border-radius: 0px 0px 10px 10px;
    padding: 0.8rem;
    width: 100%;
  }
}
@media screen and (min-width: 769px) and (max-width: 1400px) {
  .profileCard {
    padding: 7rem 0rem 2rem 0rem;

    width: 60%;
  }
  .profileNav-items {
    width: 60%;
    padding: 0.8rem;
  }
}
